<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom CSS styling file "main.css" -->
    <link rel="stylesheet" href="/src/styles/main.css" />
    <!-- end of Custom CSS styling file "main.css" -->
    

    <title>THe List Of Devices</title>
  </head>
  <body>
    <!-- Template for getting the List with the Devices -->

    <!-- 
            - this is the point where the template starts, and the reason for this is to create a grid module layout with three main sections : 
                  - the header of our page given by the "header" element with the class "page__header";
                  - the buttons that will placed aside the list of devices inside a "aside" element and containing two buttons;
                  - and the list of devices 
    -->
    <section class="page grid-app">
      <!-- Campus Loan App Header -->
      <header class="page__header">
        <h1>Devices</h1>
      </header>
      <!-- end of Campus Loan App Header -->

      <!--  Buttons List -->
      <aside class="btn-container btn-flex">
        <!-- Here when used with Vue.js you need to add the syntax inside the comment for the "Home" button instead of the "a" hyperlink element!!!!-->

        <!-- <RouterLink to="/" class="btn btn--reload">Back to Home</RouterLink> -->
        <a href="#" class="btn btn--reload">Home</a>
        <button class="btn btn--reload">Reload</button>
      </aside>
      <!--  end of Buttons List -->

      <!-- Messages and notices -->
      <!--       <div v-if="isLoading" class="page__meta" aria-live="polite">
        <span v-if="devices.length" class="message message-success">
          {{ devices.length }} available
        </span>
        <span v-else class="message message-notice">No devices found</span>
      </div>

      <div v-if="isLoading" class="message message-loading">Loading...</div>

      <div v-else-if="error" class="meassage message-error">{{ error }}</div> -->
      <!-- end of Messages and notices -->

      <div v-else>
        <!-- * Card Items List -->
        <ul v-if="devices.length" class="grid-cards" role="list">
          <li
            v-for="device in devices"
            :key="device.id"
            role="listitem"
            class="card-item"
          >
            <!--             <RouterLink
              :to="{ name: 'DeviceDetail', params: { id: device.id } }"
            >
              <DeviceCard :device="device" />
            </RouterLink> -->

            <!-- Instead of the code beneath this comment you will have to add the above syntax, for the card to look like it should you need to go to the path inside you project "loanapp-spa/src/components/devices/DeviceCard.vue" and add the two classes that will give you the desired result -->

            <div class="device-card">
              <h3 class="card-title">
                {{ device.brand }} {{ device.modelName }}
              </h3>
              <p><strong>Category:</strong> {{ device.category }}</p>
              <p v-if="device.description">
                <strong>Description:</strong> {{ device.description }}
              </p>
              <p><strong>Stock:</strong> {{ device.stock }}</p>
              <p><strong>Created:</strong> {{ new Date(device.createdAt) }}</p>
            </div>
          </li>
        </ul>
        <!-- * Card Items List -->
        <!-- <p v-else class="message message-error">No devices yet.</p> -->
      </div>
    </section>
    <!-- end of Template for getting the List with the Devices -->
  </body>
</html>
